.column {
  padding: 20px;
  margin: 5px;
  color: white;
  font-weight: bold;
  max-width: 20%;
  text-align: center;
}

.column-1 {
  background-color: red;
}

.column-2 {
  background-color: green;
}

.column-3 {
  background-color: blue;
}
